:root {
  --primary--color: #757575;
  --white--title--color: #ffffff;
  --title--color: #212121;
  --button--bg--color: #2196f3;
  --button--active--bg--color: #188ce8;
  --portfolio--button--active--bg--color: #2196f3;
  --portfolio--button--bg--color: #f5f4fa;
  --logo--primary--color: #2196f3;
  --logo--secondary--color: #000000;
  --hero--bg--color: #2f303a;
  --team--bg--color: #f5f4fa;
  --footer--text-color: rgba(255, 255, 255, 0.6);
  --border--color: #ececec;
  --client--color: #afb1b8;
  --primary--fonts: "Roboto", sans-serif;
  --logo--fonts: "Raleway", sans-serif;
  --transition--time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --gradient: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4) );
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--primary--fonts);
  background: var(--white--title--color);
  font-size: 14px;
  color: var(--primary--color);
  letter-spacing: 0.03em;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

p {
  line-height: 1.71;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section-title {
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title--color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
    color: var(--title--color);
    margin-bottom: 50px;
  }
}

.btn {
  font-family: var(--primary--fonts);
  background: var(--button--bg--color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white--title--color);
  border: transparent;
  transition: background var(--transition--time);
}
.btn:hover, .btn:focus {
  background: var(--button--active--bg--color);
  outline: transparent;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  width: 450px;
  min-height: 581px;
  background-color: var(--white--title--color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms linear;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 528px;
  }
}

.close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-icon {
  fill: #000000;
  cursor: pointer;
  transition: fill var(--transition--time);
}
.modal-icon:hover {
  fill: var(--button--bg--color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

textarea {
  resize: none;
}

.form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px 40px 40px;
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title--color);
  margin: 40px 40px 12px 40px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.form-field input {
  width: 100%;
  margin: 0;
  padding: 0;
  padding: 11px 16px 11px 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-field textarea {
  width: 100%;
  margin: 0;
  padding: 11px 16px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.form-field textarea::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field textarea:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field textarea::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-label {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form-button {
  padding: 10px 52px;
  min-width: 200px;
  display: flex;
  margin: 0 auto;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: inline-block;
  fill: var(--title--color);
}
.form-input:focus + .form-icon {
  fill: var(--button--bg--color);
}

.form-input:focus {
  border: 1px solid var(--button--bg--color);
  outline: transparent;
}

.check {
  justify-content: center;
  margin-bottom: 30px;
  line-height: 1.7142857143;
}

.check-label {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.03em;
}

.check-link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--button--bg--color);
}

.checkbox {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title--color);
  border-radius: 2px;
  background-color: var(--white--title--color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
  transition: background-color var(--transition--time), background-size var(--transition--time), border var(--transition--time);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  align-items: center;
  align-content: center;
}
.checkbox:checked {
  background-color: var(--button--bg--color);
  border: 2px solid var(--button--bg--color);
  background-image: url(../images/check.svg);
  background-size: contain;
}

.header {
  border-bottom: 1px solid var(--border--color);
}

.header__container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--logo--fonts);
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--logo--primary--color);
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

.logo__part {
  color: var(--logo--secondary--color);
}

.navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
  }
}

.site-nav {
  display: flex;
  margin-left: 90px;
  gap: 50px;
}

.site-nav__item {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title--color);
  transition: color var(--transition--time);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--logo--primary--color);
  outline: transparent;
}
.site-nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--logo--primary--color);
  transform: scaleX(0);
  transition: transform var(--transition--time);
}
.site-nav__link:hover::after {
  transform: scaleX(1);
}

.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: block;
    margin-left: auto;
  }
  .contacts .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    margin-left: auto;
    gap: 30px;
  }
  .contacts .contacts__item:first-child {
    margin-bottom: 0;
  }
}

.contacts__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary--color);
  font-size: 14px;
  display: flex;
  align-items: center;
  transition: color var(--transition--time);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--logo--primary--color);
  outline: transparent;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.current {
  color: var(--logo--primary--color);
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--logo--primary--color);
  transform: scaleX(1);
  transition: transform var(--transition--time);
}

.menu-open,
.menu-close {
  background-color: transparent;
  border: none;
  margin-left: auto;
  position: absolute;
  top: 10px;
  right: 15px;
  padding-left: 0;
  padding-right: 0;
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .menu-open,
.menu-close {
    display: none;
  }
}

.menu-close:hover,
.menu-close:focus {
  fill: var(--logo--primary--color);
  transition: fill var(--transition--time);
}

.mob-menu {
  position: relative;
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  top: 0;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
@media screen and (min-width: 480px) {
  .mob-menu__container {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.top {
  margin-bottom: 64px;
}

.top__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--title--color);
}

.top__item:not(:last-child) {
  margin-bottom: 32px;
}

.current {
  color: var(--logo--primary--color);
}

.bottom__tel {
  display: block;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.2142857143;
  letter-spacing: 0.02em;
  color: var(--logo--primary--color);
  margin-bottom: 32px;
  max-width: 100%;
}
@media screen and (min-width: 480px) {
  .bottom__tel {
    font-size: 34px;
    line-height: 1.1764705882;
  }
}

.bottom__mail {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--primary--color);
  margin-bottom: 64px;
}
@media screen and (min-width: 480px) {
  .bottom__mail {
    font-size: 24px;
    line-height: 1.1666666667;
  }
}

.bottom__list {
  display: flex;
  max-width: 100%;
}

.bottom__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.bottom__item:not(:first-child) {
  padding-left: 10px;
}

.bottom__socisl {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5714285714;
  letter-spacing: 0.02em;
  color: var(--logo--primary--color);
}
@media screen and (min-width: 480px) {
  .bottom__socisl {
    font-size: 18px;
    line-height: 1.2222222222;
  }
}

.hero {
  background: var(--hero--bg--color);
  text-align: center;
}

.ovelay {
  max-width: 1600px;
  background-image: var(--gradient), url(../images/hero1px-mob.jpg);
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .ovelay {
    background-image: var(--gradient), url(../images/hero1px-mob.jpg);
  }
}
@media screen and (min-width: 768px) {
  .ovelay {
    background-image: var(--gradient), url(../images/hero1px-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .ovelay {
    background-image: var(--gradient), url(../images/hero2px-tab.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .ovelay {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: var(--gradient), url(../images/hero1px-des.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .ovelay {
    background-image: var(--gradient), url(../images/hero2px-des.jpg);
  }
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  color: var(--white--title--color);
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.3636363636;
    max-width: 696px;
  }
}

.hero-button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 216px;
}

.specialty {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.specialty__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .specialty__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .specialty__item {
    width: calc((100% - 90px) / 4);
  }
}

.specialty-title {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title--color);
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .specialty-title {
    text-align: left;
  }
}

.specialty-text {
  min-width: 270px;
}

.specialty-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--portfolio--button--bg--color);
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
  max-width: 100%;
}

.doing {
  text-align: center;
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .doing {
    display: none;
  }
}

.doing-list {
  display: flex;
  gap: 30px;
  font-size: 0;
}

.doing-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title--color);
  margin-bottom: 50px;
}

.doing-thumb {
  position: relative;
}

.doing-text {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white--title--color);
  height: 70px;
  width: 100%;
}

.team {
  background: var(--team--bg--color);
  text-align: center;
}

.worker {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  font-size: 0;
}

.worker__item {
  background: var(--white--title--color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .worker__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .worker__item {
    width: calc((100% - 90px) / 4);
  }
}

.worker__content {
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: auto;
  padding-right: auto;
}
@media screen and (min-width: 1200px) {
  .worker__content {
    padding-bottom: 30px;
  }
}

.worker__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title--color);
  margin-bottom: 10px;
}

.worker__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary--color);
  margin-bottom: 16px;
}

.social {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white--title--color);
  color: var(--client--color);
  transition: background-color var(--transition--time), color var(--transition--time);
}
.social__link:hover, .social__link:focus {
  border: 0;
  border-radius: 50%;
  background-color: var(--button--bg--color);
  color: var(--white--title--color);
  outline: transparent;
}

.social__icon {
  display: flex;
  justify-content: center;
  fill: currentColor;
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.client-item {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .client-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .client-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client-item {
    width: calc((100% - 150px) / 6);
    flex-wrap: nowrap;
  }
}

.client-link {
  display: inline-flex;
  width: 100%;
  height: 92px;
  align-items: center;
  justify-content: center;
  color: var(--client--color);
  outline: 1px solid var(--client--color);
  border-radius: 4px;
  transition: color var(--transition--time), outline var(--transition--time);
}
.client-link:hover, .client-link:focus {
  outline: 1px solid var(--button--bg--color);
  color: var(--button--bg--color);
}

.client-icon {
  display: block;
  content: "";
  padding-top: 16px;
  padding-bottom: 16px;
  fill: currentColor;
  max-width: 100%;
}

.footer {
  background: var(--hero--bg--color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    flex-wrap: nowrap;
    width: 100%;
    gap: 0;
    text-align: left;
  }
}

.footer__contacts {
  width: 100%;
  justify-content: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__contacts {
    width: 232px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contacts {
    text-align: left;
    width: 231px;
  }
}

.logo__footer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .logo__footer {
    justify-content: left;
  }
}

.logo__part--white {
  color: var(--white--title--color);
}

.address__link {
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--footer--text-color);
  line-height: 1.7142857143;
  display: inline-block;
  margin-top: 9px;
  transition: color var(--transition--time);
}
.address__link:hover, .address__link:focus {
  color: var(--logo--primary--color);
}

.address__link--white {
  color: var(--white--title--color);
  margin-top: 0;
}
@media screen and (min-width: 1200px) {
  .address__link--white {
    width: 231px;
  }
}

.join {
  width: 100%;
  justify-content: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .join {
    width: 206px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
    width: 206px;
    text-align: left;
  }
}

.join__title {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white--title--color);
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .join__title {
    margin-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .join__title {
    margin-top: 12px;
  }
}

.social__link--grey {
  color: var(--white--title--color);
  background-color: rgba(255, 255, 255, 0.1);
}

.mailing {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .mailing {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .mailing {
    display: block;
    flex-wrap: nowrap;
    width: 100%;
    margin-left: 93px;
    text-align: left;
  }
}

.mailing__title {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white--title--color);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .mailing__title {
    margin-top: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .mailing__content {
    display: flex;
  }
}

.mailing__input {
  width: 100%;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--primary--color);
  padding: 15px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.mailing__input:focus {
  border: 1px solid var(--button--bg--color);
  outline: transparent;
}
.mailing__input textarea::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mailing__input textarea:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mailing__input textarea::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .mailing__input {
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.mailing__button {
  position: relative;
  padding: 10px 62px 10px 28px;
  min-width: 200px;
}

.mailing-icon {
  position: absolute;
  display: inline-block;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  fill: currentColor;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  gap: 8px;
  justify-content: left;
}
@media screen and (min-width: 480px) {
  .filter {
    padding-right: 124px;
  }
}
@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
    justify-content: center;
    padding-right: 0;
    padding-left: 0;
    flex-wrap: nowrap;
    padding-right: 96px;
    padding-left: 97px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
    gap: 10px;
    justify-content: center;
  }
}

@media screen and (min-width: 480px) {
  .filter__item {
    width: calc((100% - 16px) / 3);
  }
}
.filter__button {
  font-family: var(--primary--fonts);
  background: var(--team--bg--color);
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--title--color);
  padding: 6px 22px;
  border: transparent;
  transition: background var(--transition--time), color var(--transition--time), box-shadow var(--transition--time);
}
.filter__button:hover, .filter__button:focus {
  background: var(--portfolio--button--active--bg--color);
  color: var(--white--title--color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: transparent;
}
@media screen and (min-width: 768px) {
  .filter__button {
    width: 100%;
  }
}

.filter__text {
  display: block;
  min-width: 81px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  font-size: 0;
}

.card__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title--color);
  margin-bottom: 4px;
}

.card__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary--color);
  font-family: var(--primary--fonts);
}

.card__border {
  border: 1px solid var(--border--color);
  border-top: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.card__item {
  display: flex;
}
@media screen and (min-width: 768px) {
  .card__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card__item {
    width: calc((100% - 60px) / 3);
  }
}

.crad__thumb {
  position: relative;
  overflow: hidden;
}

.card__link {
  transition: box-shadow var(--transition--time);
}
.card__link:hover, .card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: transparent;
}

.card__action-text {
  position: absolute;
  top: 0;
  color: var(--white--title--color);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5555555556;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--transition--time);
  overflow: auto;
}
.card__item:hover .card__action-text {
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */