.header {
  border-bottom: 1px solid var(--border--color);
  
}

.header__container {
  display: flex;
  align-items: center;
  position: relative;
  height: 60px;

  @include tablet {
    height: 80px;
  }
}

.logo {
  font-family: var(--logo--fonts);
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  color: var(--logo--primary--color);
  

  @include desctop {
    font-size: 26px;
    line-height: calc(31 / 26);
  }
}

.logo__part {
  color: var(--logo--secondary--color);
}

.navigation {
  display: none;

  @include tablet {
    display: flex;
    align-items: center;
  }
}

.site-nav {
  display: flex;
  margin-left: 90px;
  gap: 50px;
}

.site-nav__item {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title--color);

  transition: color var(--transition--time);

  &:hover,
  &:focus {
    color: var(--logo--primary--color);
    outline: transparent;
  }
  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--logo--primary--color);

    transform: scaleX(0);
    transition: transform var(--transition--time);
  }
  &:hover::after {
    transform: scaleX(1);
  }
}

.contacts {
  display: none;

  @include tablet {
    display: block;
    margin-left: auto;
    

    .contacts__item:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @include desctop {
    .contacts__item:first-child {
      margin-bottom: 0;
    }
    display: flex;
    margin-left: auto;
    gap: 30px;

  }
}

.contacts__link {
  font-weight: 500;
  line-height: calc(14 / 12);
  letter-spacing: 0.02em;
  color: var(--primary--color);
  font-size: 12px;
  display: flex;
  align-items: center;

  transition: color var(--transition--time);

  &:hover,
  &:focus {
    color: var(--logo--primary--color);
    outline: transparent;
  }

  @include desctop {
    font-size: 14px;
    line-height: calc(16 / 14);
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.current {
  color: var(--logo--primary--color);

  @include tablet {
    &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--logo--primary--color);

    transform: scaleX(1);
    transition: transform var(--transition--time);
    }
  }
}

.menu-open,
.menu-close {
  background-color: transparent;
  border: none;
  margin-left: auto;

  position: absolute;
  top: 10px;
  right: 15px;
  padding-left: 0;
  padding-right: 0;
  width: 40px;
  height: 40px;

  @include tablet {
    display: none;  
  }
}

.menu-close:hover,
.menu-close:focus {
  fill: var(--logo--primary--color);
  transition: fill var(--transition--time);

}

.mob-menu {
  position: relative;
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  top: 0;
  padding-top: 48px;
  padding-bottom: 48px;
 

  background-color: #fff;

 

  @include tablet {
    display: none;
  }
}

.mob-menu__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;

  @include phone {
    padding-right: 40px; 
  padding-left: 40px;
  }
}

.top {
  margin-bottom: 64px;
}

.top__link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: var(--title--color);
}

.top__item:not(:last-child) {
  margin-bottom: 32px;
}

.current {
  color: var(--logo--primary--color);
}

.bottom__tel {
  display: block;
  font-weight: 500;
  font-size: 28px;
  line-height: calc(34 / 28);
  letter-spacing: 0.02em;
  color: var(--logo--primary--color);
  margin-bottom: 32px;
  max-width: 100%;

  @include phone {
    font-size: 34px;
    line-height: calc(40 / 34);
  }
}

.bottom__mail {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(28 / 20);
  letter-spacing: 0.02em;

  color: var(--primary--color);
  margin-bottom: 64px;

  @include phone {
    font-size: 24px;
    line-height: calc(28 / 24);
  }
}

.bottom__list {
  display: flex;
  max-width: 100%;
}

.bottom__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.bottom__item:not(:first-child) {
  padding-left: 10px;
}

.bottom__socisl {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(22 / 14);
  letter-spacing: 0.02em;

  color: var(--logo--primary--color);

  @include phone {
    font-size: 18px;
    line-height: calc(22 / 18);
  }
}
